{% extends "base.html" %}

{% load i18n %}
{% load localeurl_tags %}

{% load bootstrap3 %}

{% load staticfiles %}

            {% block header %}

            <div class="row service">
                <div class="col-sm-3">
                    <a href="/"><img src="{% static "img/icon_tec.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">Технический перевод</div>
                    </a>

                </div>
                <div class="col-sm-3">
                    <a href="/"><img src="{% static "img/icon_docum.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">Перевод документов</div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="/"><img src="{% static "img/icon_stamp.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">Заверение переводов</div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="/"><img src="{% static "img/icon_sp.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">Устный перевод</div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="/"><img src="{% static "img/icon_local.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">Локализация сайтов</div>
                    </a>
                </div>
            </div>

            {% endblock header %}

{% block content %}


    Pünktlich, zuverlässig, anwenderorientiert und erfolgreich
</br>Wir bieten Ihnen mehr als 10 Jahre fachliche Erfahrung.
</br>Wir erstellen für Sie professionelle Übersetzungen von Texten, Dokumentationen, Handbüchern, Prospekten, Bedienungsanleitungen, Werbetexten, Verträgen, Urkunden, kompletten Webseiten, Software usw.
</br>Wir übersetzen für Sie aus und in 3 Sprachen in mehreren Fachgebieten.

</br>Wir verfügen über folgende Universitätsabschlüsse: Üniversität des Saarlandes, Staatliche Linguistische Universität, Minsk, und Staatliche Universität Kuban.

</br>Um die Qualität zu sichern, richten wir uns bei der Ausführung von Übersetzungsaufträgen nach den Vorgaben in der DIN 2345.

</br>Unsere Übersetzungen können wir Ihnen per Fax, Email, CD-ROM oder ausgedruckt liefern. Wir richten uns dabei nach Ihren Bedürfnissen.

</br>Wir bieten Dolmetscherdienste rund um die Uhr an.

</br>Eine absolute Termintreue ist für uns selbstverständlich!

</br>Für ein individuelles Angebot für Ihre Übersetzung oder für die Auskunft über unsere Zeilenpreise für die Sprachen, die Sie benötigen, stehen wir Ihnen jederzeit gerne zur Verfügung.
</br>Wir bedanken uns für Ihr Vertrauen.




{% endblock content %}

