{% extends "base.html" %}

{% load i18n %}
{% load localeurl_tags %}

{% load bootstrap3 %}

{% load staticfiles %}

            {% block header %}

            <div class="row service">
                <div class="imgg">
                    <a href="{% url 'pages.views.site' 'service' %}"><img src="{% static "img/icon_tec.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">{% trans "Technik & Industrie" %}</div>
                    </a>

                </div>
                <div class="imgg">
                    <a href="{% url 'pages.views.site' 'service' %}"><img src="{% static "img/icon_docum.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">{% trans "Wirtschaft & Wissenschaft" %}</div>
                    </a>
                </div>
                <div class="imgg">
                    <a href="{% url 'pages.views.site' 'service' %}"><img src="{% static "img/icon_stamp.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">{% trans "Urkunden-übersetzungen" %}</div>
                    </a>
                </div>
                <div class="imgg">
                    <a href="{% url 'pages.views.site' 'service' %}"><img src="{% static "img/icon_sp.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">{% trans "Dolmetschen" %}</div>
                    </a>
                </div>
                <div class="imgg">
                    <a href="{% url 'pages.views.site' 'service' %}"><img src="{% static "img/icon_local.png" %}" title="service" alt="zweifach" class="" />
                    <div class="stext">{% trans "Lokalisierung" %}</div>
                    </a>
                </div>
            </div>

            {% endblock header %}

{% block content %}

    {{ detail.content|safe }}

{% endblock content %}

{% block partners %}

 <div class="partners">
	<div class="container middle">
		<div class="row">
            <h3 class="titles">{% trans "Partners" %}</h3>
            <a href="/"><img src="{% static "partners/8.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/2.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/3.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/4.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/5.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/6.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/7.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/1.png" %}" title="partner" alt="zweifach" class="" /></a>
        </div>
    </div>
</div>

{% endblock partners %}



