{% extends "base.html" %}

{% load i18n %}
{% load localeurl_tags %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block title %} {{ detail.title }} {% endblock %} 
{% block keywords %} {{ detail.keywords }} {% endblock %} 

{% block breadcrumbs %}
	
	{% if request.path == "/en/" or request.path == "/ru/" or request.path == "/de/" %} 
		<li class="active"> {{ detail.title }} </li> 
	{% else %}
		<li><a href="/">Главная</a></li>
  
		<li class="active"> {{ detail.title }} </li>
	{% endif %} 
  	
{% endblock %}

{% block content %}

<h1 class="page-header">
	{{ detail.title }}
</h1>
{{ detail.content|safe }}

{% endblock %}

{% block partners %}

 <div class="partners">
	<div class="container middle">
		<div class="row">
            <h3 class="titles">{% trans "Partners" %}</h3>
            <a href="/"><img src="{% static "partners/8.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/2.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/3.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/4.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/5.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/6.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/7.png" %}" title="partner" alt="zweifach" class="" /></a>
            <a href="/"><img src="{% static "partners/1.png" %}" title="partner" alt="zweifach" class="" /></a>
        </div>
    </div>
</div>

{% endblock partners %}