{% extends "base.html" %}

{% load i18n %}
{% load localeurl_tags %}

{% load bootstrap3 %}

{% load easy_maps_tags %}



{% block breadcrumbs %}
	
	{% if request.path == "/en/" or request.path == "/ru/" or request.path == "/de/" %} 
		<li class="active"> {{ detail.name }} </li> 
	{% else %}
		<li><a href="/">Главная</a></li>
  
		<li class="active"> Оставить заявку </li>
	{% endif %} 
  	
{% endblock %}


{% block title %}{% trans "Bestellung form" %}{% endblock title %}

{% block mapblock %}
    <!-- Default map with 300x400 dimensions -->
        {% easy_map "Deutschland, Grünstadt, Albert-Schweizer-Straße 24" 100% 300 %}
{% endblock %}

{% block content %}
<div class="row">
		<div class="col-sm-8">



		<div class="contacts">
			<h3 class="page-header">
				{% trans "Bestellung form" %}
			</h3>
			{% if message %}
				<div class="alert alert-success">
					{{ message }}
				</div>	
			{% endif %}
			
			<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %} {% bootstrap_form form %} {% buttons %}
				<button type="submit" class="btn btn-primary">
					{% bootstrap_icon "star" %} {% trans "Send" %}

				</button>
			{% endbuttons %}
			</form>
		</div>	
	</div>
</div>
{% endblock content %}